 /*Selecinando todos os elementos com asterisco*/
* {
    margin: 0;
    padding: 0;
}

a {
    color: #ffff;
    text-decoration: none; /* tirando o sublinhado*/
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.logo { /* Confogurando o texto que é a logo da empresa AFRODITE*/
    font-size: 25px; /* Definindo o tamanho da fonte*/
    text-transform: uppercase; /*Deixando todo em maiusculo*/
    letter-spacing: 4px; /*espaçamento*/
}

nav {
    display: flex; /* colocando o logo e a lista um ao lado do outro*/
    justify-content: space-around; /* deixa o espaço ao redor a metade do espaço entre eles*/
    align-items: center; /*alinhando ambos verticalmente ao centro*/
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /*Escolhendo a tipogradia das fontes*/
    background: #FF00F5; /*definido a cor do backgroun*/
    height: 8vh; /*VH é a unidade responsiva para se adaptar a tela do usuário*/
}

.background-home {
    background: url("../imagens/background2.jpg") no-repeat center center; /*selecionando a imagem de fundo, sem repetir, centralizando no eixo X e Y por isso sse repete o comando center*/
    background-size: cover; /*caso a resolução do monitor seja maior que a imagem*/
    height: 92vh;
}

.nav-list { /*configurar a nossa UL*/
    list-style-type: none;
    display: flex;
}

.nav-list li { /*afastando os itens um do outro*/
    letter-spacing: 3px;
    margin-left: 32px;
}

.nav-list ul li { /* Alinhando os itens do menu */
    display: inline-block;
}

.mobile-menu {
    display: none; /*escondendo o menu hamburger em telas grandes, só vai aparecer em tela pequena*/
    cursor: pointer; /* mostrar o icone da mãozinha*/
}

.mobile-menu div { /* linhas do menu hamburger*/
    width: 32px;
    height: 2px;
    background: #ffff;
    margin: 8px;
    transition: 0.3s;
}

.butoes-cadastro {
    align-items: center;
    padding: 20px;
    margin: 15px;
}

.cabecalho {
    align-items: center;
    padding: 20px;
    margin: 15px;
}

/*aparecer o menu de navegação quando a tela atingir um determinado ponto de parada*/
@media (max-width: 999px) {
    body {
        overflow-x: hidden; /*se algo passa da bordar fica escondido*/
    }

    .nav-list {
        position: absolute; /* posicionando o menu no local que eu quiser*/
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #FF00F5;
        flex-direction: column; /*deixando o menu em coluna*/
        align-items: center;
        justify-content: space-around; /* vai espalhar os itens no espço que estiver disponinvel*/
        transform: translateX(100%); /*coloca o menu de navegação fora da borda do site, para esconder foi criado o BODY logo acima dentro do @media*/
        transition: transform 0.3s ease-in; /*animando o menu com uma chegada suave */
    }
    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu {
        display: block;
    }
    .nav-list.active {
        transform: translateX(0);
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .mobile-menu.active .line1 {
        transform: rotate(-45deg) translate(-8px, 8px);
    }
    .mobile-menu.active .line2 {
        opacity: 0;
    }
    .mobile-menu.active .line3 {
        transform: rotate(45deg) translate(-5px, -7px);
    }

=======
 /*Selecinando todos os elementos com asterisco*/
* {
    margin: 0;
    padding: 0;
}

a {
    color: #ffff;
    text-decoration: none; /* tirando o sublinhado*/
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.logo { /* Confogurando o texto que é a logo da empresa AFRODITE*/
    font-size: 25px; /* Definindo o tamanho da fonte*/
    text-transform: uppercase; /*Deixando todo em maiusculo*/
    letter-spacing: 4px; /*espaçamento*/
}

nav {
    display: flex; /* colocando o logo e a lista um ao lado do outro*/
    justify-content: space-around; /* deixa o espaço ao redor a metade do espaço entre eles*/
    align-items: center; /*alinhando ambos verticalmente ao centro*/
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /*Escolhendo a tipogradia das fontes*/
    background: #FF00F5; /*definido a cor do backgroun*/
    height: 8vh; /*VH é a unidade responsiva para se adaptar a tela do usuário*/
}

.background-home {
    background: url("/site/imagens/background.jpg") no-repeat center center; /*selecionando a imagem de fundo, sem repetir, centralizando no eixo X e Y por isso sse repete o comando center*/
    background-size: cover; /*caso a resolução do monitor seja maior que a imagem*/
    height: 92vh;
}

.nav-list { /*configurar a nossa UL*/
    list-style-type: none;
    display: flex;
}

.nav-list li { /*afastando os itens um do outro*/
    letter-spacing: 3px;
    margin-left: 32px;
}

.nav-list ul li { /* Alinhando os itens do menu */
    display: inline-block;
}

.mobile-menu {
    display: none; /*escondendo o menu hamburger em telas grandes, só vai aparecer em tela pequena*/
    cursor: pointer; /* mostrar o icone da mãozinha*/
}

.mobile-menu div { /* linhas do menu hamburger*/
    width: 32px;
    height: 2px;
    background: #ffff;
    margin: 8px;
    transition: 0.3s;
}

.butoes-cadastro {
    align-items: center;
    padding: 20px;
    margin: 15px;
}

.cabecalho {
    align-items: center;
    padding: 20px;
    margin: 15px;
}

/*aparecer o menu de navegação quando a tela atingir um determinado ponto de parada*/
@media (max-width: 999px) {
    body {
        overflow-x: hidden; /*se algo passa da bordar fica escondido*/
    }

    .nav-list {
        position: absolute; /* posicionando o menu no local que eu quiser*/
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #FF00F5;
        flex-direction: column; /*deixando o menu em coluna*/
        align-items: center;
        justify-content: space-around; /* vai espalhar os itens no espço que estiver disponinvel*/
        transform: translateX(100%); /*coloca o menu de navegação fora da borda do site, para esconder foi criado o BODY logo acima dentro do @media*/
        transition: transform 0.3s ease-in; /*animando o menu com uma chegada suave */
    }
    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu {
        display: block;
    }
    .nav-list.active {
        transform: translateX(0);
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .mobile-menu.active .line1 {
        transform: rotate(-45deg) translate(-8px, 8px);
    }
    .mobile-menu.active .line2 {
        opacity: 0;
    }
    .mobile-menu.active .line3 {
        transform: rotate(45deg) translate(-5px, -7px);
    }

>>>>>>> 351fa8357984cd4adfa9b188d356939c7e698947:site/FrontEnd/CSS/style.css
}   